<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <form method="POST" action="/add">
        <input type="text" name="content" required>
        <button type="submit">Add Task</button>
    </form>
    <h1>Personas dati</h1>
    <form method="POST" action="/add_tabula1">
        <input type="text" name="vards" required>
        <input type="text" name="uzvards" required>
        <input type="text" name="vecums" required>
        <button type="submit">Pievienot</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.content }}
                <a href="{{ url_for('delete', id=task.id) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>